body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;
        font-family: "Racing Sans One", sans-serif;
        margin-bottom: 100px;  
}

header {
    border-bottom: solid 2px rgb(253, 253, 253);
    padding: 20px;
    font-size: 39px;
    color:rgb(255, 0, 191);
}
.chamada{
    background: rgb(140, 0, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 6%;
}
h1 {
    font-size: 29px;
}
p {
    font-size: 27px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{
    opacity: 0.6;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.5;
    border: 3px; solid:rgb(246, 250, 6); 
}
.categoria h2{
    color:rgb(255, 0, 191); ;
}